#last-section {
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    min-height: 100vh;
}

#last-section h1 {
    font-size: 25px;
    margin: 50px 0;
    text-align: center;
}

#about-me p {
    font-size: 17px;
    padding: 0 25px;
}

#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 30px;
}

.contact {
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.2s ease-in-out;
    color: black;
    width: 40px;
    height: 40px;
}

.social-icon {
    height: 60%;
    width: 60%;
    fill: currentColor;
}

.contact:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px 0;
    margin-bottom: 50px;
}

#info span {
    font-size: 17px;
    padding: 0 25px;
    word-break: break-all;
}

@media (min-width: 255px) {
    #info span {
        word-break: normal;
    }
}

@media (min-width: 350px) {
    #about-me p {
        padding: 0 50px;
    }

    #info span {
        padding: 0 50px;
    }

    .contact {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 520px) {
    #last-section h1 {
        font-size: 30px;
    }

    #about-me p {
        font-size: 20px;
    }

    #info span {
        font-size: 20px;
        padding: 0 100px;
    }

    #about-me p {
        padding: 0 100px;
    }

    #last-section {
        min-height: 900px;
    }
}

@media (min-width: 875px) {
    #contact-info {
        flex-direction: row;
        align-items: center;
        padding: 0 100px;
    }

    #info span {
        padding: 0;
    }
}

@media (min-width: 1085px) {
    #about-me p {
        padding: 0 150px;
    }

    #contact-info {
        padding: 0 150px;
    }

    #contact-container {
        gap: 0 50px;
    }
}

/* @media (min-width: 300px) {
    #last-section {
        min-height: 1000px;
    }
}*/

@media (min-width: 520px) {
    #last-section {
        min-height: 100vh;
    }
}

/* @media (min-height: 700px) {
    #last-section {
        height: 700px;
        min-height: 0;
    }
} */

@media (min-height: 700px) and (max-width: 520px) {
    #last-section {
        height: 1000px;
        min-height: 0;
    }
}

@media (min-height: 700px) and (max-width: 205px) {
    #last-section {
        height: 1100px;
        min-height: 0;
    }
}

@media (min-height: 700px) and (min-width: 520px) {
    #last-section {
        height: 900px;
        min-height: 0;
    }
}

