#second-section {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 700px;
}

#second-section h1 {
    font-size: 25px;
    margin: 50px 0;
    text-align: center;
}

#projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 10px;
    margin-bottom: 100px;
}

.project div {
    width: 100%;
    background-color: #2D2D2D;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.project p {
    font-size: 12px;
    width: 86%;
    padding: 30px 7%;
    margin: 0;
    background-color: #2D2D2D;
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    display: none;
}

.project {
    position: relative;
}

.project:hover p {
    top: 0;
    filter: none;
}

.project h2 {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.project a {
    width: 90%;
    margin-top: 5%;
}

.project img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 250px) {
    #second-section {
        height: 840px;
        min-height: 840px;
    }
}

@media (min-width: 280px) {
    #second-section {
        height: 950px;
        min-height: 950px;
    }
}

@media (min-width: 350px) {
    #second-section {
        height: 1050px;
        min-height: 1050px;
    }
}

@media (min-width: 400px) {
    #second-section {
        height: 1150px;
        min-height: 1150px;
    }
}

@media (min-width: 450px) {
    #second-section {
        height: 1250px;
        min-height: 1250px;
    }
}

@media (min-width: 520px) {
    #second-section h1 {
        font-size: 30px;
    }

    .project h2 {
        font-size: 18px;
    }

    #projects-container {
        padding: 0 50px;
    }

    #second-section {
        height: 1275px;
        min-height: 1275px;
    }
}

@media (min-width: 600px) {
    #second-section {
        height: 1400px;
        min-height: 1400px;
    }
}

@media (min-width: 650px) {
    #second-section {
        height: 1450px;
        min-height: 1450px;
    }
}

@media (min-width: 700px) {
    #second-section {
        height: 1600px;
        min-height: 1600px;
    }
}

@media (min-width: 800px) {
    #projects-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 25px;
    }

    #second-section {
        height: 800px;
        min-height: 800px;
    }
}

@media (min-width: 900px) {
    #second-section {
        height: 900px;
        min-height: 900px;
    }
}

@media (min-width: 1085px) {
    #projects-container {
        padding: 0 50px;
    }

    #second-section {
        height: 1000px;
        min-height: 1000px;
    }
}

@media (min-width: 1245px) {
    #projects-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .project:hover p {
        top: calc(100% - 15px);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .project:hover div {
        filter: none;
    }

    .project p {
        display: block;
    }

    #second-section {
        min-height: 700px;
        height: 700px;
    }
}